<h2><%= @category.title %></h2>

<ul>
  <% @category.listings.each do |listing| %>
    <li><%= link_to listing.title, category_listing_path(@category, listing) %></li>
  <% end %>
</ul>

<p class="action">
  <%= link_to "Add new listing", new_category_listing_path(@category) %>
</p>
